<div class="col-lg-6 well-style">
  <form class="form-horizontal well">
    <fieldset class="fieldset-style">
      <legend class="legend-style">Add a client:</legend>
      <%= form_for([@user, @user.clients.build]) do |f| %>
        <div class="form-group form-group-style">
          <label class="col-lg-2 control-label">
            <%= f.label :name %>
          </label>
          <%= f.text_field :name %>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">
            <%= f.label :billing %>
          </label>
            <%= f.text_field :billing %>
        </div>
        
          <div class="col-lg-offset-2 col-lg-10">
            <div class="checkbox">
              <label>
                <%= f.label 'Invoice Paid?' %>
                <%= f.check_box :paid %>
              </label>
            </div>
          </div>
        
        
          <div class="actions col-lg-offset-2 col-lg-10">
            <%= f.submit 'Add Client', :class => "btn btn-default" %>
          </div>
        
      <% end %>
    </fieldset>
  </form>
</div>