<p id="notice"><%= notice %></p>
<div class="pull-right">
  <%= link_to 'Account', edit_user_path(@user) %>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1><%= @user.name %></h1>
  </div>
</div>

<%= render 'users/clients/client' %>

<!-- 'Add a client partial -->
<%= render 'users/clients/form' %>


